.container {
    border: 2px solid lightgray;
    border-radius: 3%;
    background-color: cadetblue;
  }
  .header-padding{
      display: flex;
      justify-content: center;
      padding-top: 20px;
      padding-bottom: 20px;
  }